{% extends "dappx/base.html" %}
{% load static %}
{% block body_block %}
  <div class="container">
    <div class="jumbotron">
        <h3>Upload JSON File</h3>
<form enctype="multipart/form-data" method="POST">
          {% csrf_token %}
          {{ form.as_p }}
          <input type="submit" name="" value="Upload">
        </form>
        {% if mes%}
        <h4 style="color:red">{{tex}}</h4>
        {%endif%}
        {% if not mes%}
        <h4 style="color:green">{{tex}}</h4>
        {%endif%}
    </div>
  </div>
{% endblock %}