{% extends "dappx/base.html" %}
{% block body_block %}
<div class="container">
  <div class="jumbotron">
    {% if user.is_authenticated %}
        <h3>Uploaded Posts</h3>

        <table class="table table-dark table-hover">
    <thead class="font-weight-bold">
      <tr>
        <th>Id</th>
        <th>Title</th>
        <th>Body</th>
        <th>user_id</th>
      </tr>
    </thead>
    <tbody>
        {% for post in post_list %}
        <tr>
            <td>{{post.id }}</td>
            <td>{{ post.title }}</td>
            <td>{{ post.body }}</td>
            <td>{{ post.user_id }}</td>
            <td>
        </tr>
        {% endfor %}
        </tbody>
        </table>
    {% else %}
        <h2>First reigster/login</h2>
    {% endif %}
  </div>
</div>
{% endblock %}